doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js")