<script src="/socket.io/socket.io.js"></script>
<script>
  // connect
  var socket = io('http://localhost:1337');

  // listen for messages from the server
  socket.on('news', function (data) {

    // print the data to the page
    var span = document.createElement('pre');
    span.innerHTML = JSON.stringify(data, null, 2);
    document.body.appendChild(span);

    // send a message back to the server
    socket.emit('my other event', {my:'data'});
  });
</script>
